.info {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin-top: 15rem;
    justify-content: space-between;

}

.retangle-info {
    position: absolute;
    z-index: 0;

}

.info-description {


    width: 24.75rem;
    height: 12.875rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 9rem;
    margin-top: 20rem;

}

.info-description>h2 {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.063rem;
    z-index: 1;
    font-weight: bold;
    margin-left: 2rem;
}

.info-description>p {
    z-index: 1;
    margin-left: 2rem;

}

.business {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19.25rem;
    height: 23.688rem;
    left: 700px;
    top: 67.5rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;

}

.right-info {
    margin-top: 10rem;
}

.business>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 100px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;
    z-index: 1;


}

.business>img {
    margin-top: 5rem;

    background: #F1F7FF;
    border-radius: 20px;
    background: #F1F7FF;
    z-index: 1;

}

.business>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
}

.web-dev {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19.25rem;
    height: 23.688rem;
    left: 700px;
    top: 92.625rem;

    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;

}

.web-dev>img {
    margin-top: 5rem;
    background: #F1F7FF;
    border-radius: 20px;
}

.web-dev>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 250px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;

}

.web-dev>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
    width: 200px;
}

.financial {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19.25rem;
    height: 23.688rem;
    left: 65rem;
    top: 65rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;

}

.financial>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 100px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;


}

.financial>img {
    margin-top: 5rem;

    background: #F1F7FF;
    border-radius: 20px;
    background: #F1F7FF;

}

.financial>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
}

.market {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 19.25rem;
    height: 23.688rem;
    left: 65rem;
    top: 90rem;

    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;

}

.market>img {
    margin-top: 5rem;
    background: #F1F7FF;
    border-radius: 20px;
}

.market>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 250px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;

}

.market>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
    width: 200px;
}

.elipse {
    box-sizing: border-box;
    z-index: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80rem;
    top: 107rem;


}