.info {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin-top: 5rem;
    justify-content: space-between;

}

.bgRetangle {

    display: flex;
    height: 70vh;
    width: 60vw;
    gap: 2rem;
    position: relative;
    background-color: #F4F9FF;
    margin-top: 5rem;
    border-radius: 95px 10px 10px 10px;
    -moz-border-radius: 95px 10px 10px 10px;
    -webkit-border-radius: 95px 10px 10px 10px;
    border: 0px solid #000000;

}

.group-div-1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 2rem;
    margin-left: 35rem;

}

.group-div-2 {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 5rem;
    gap: 2rem;

}






.retangle-info {
    position: absolute;
    z-index: 0;
    width: 10vw;
    height: 20vh;
    margin-top: 10rem;

}

.info-description {

    width: 21.75rem;
    height: 12.875rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 9rem;
    margin-top: 15rem;
}

.info-description>h2 {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.063rem;
    z-index: 1;
    font-weight: bold;
    margin-left: 2rem;
}

.info-description>p {
    z-index: 1;
    margin-left: 2rem;

}


.business {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 19.25rem;
    height: 23.688rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;
    margin-top: -5rem;


}

.business:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 19.25rem;
    height: 24.688rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 120px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;
    margin-top: -5rem;
    color: white;


}


.right-info {
    margin-top: 7rem;
}

.business>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 100px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;
    z-index: 1;
}

.business>img {
    margin-top: 5rem;
    background: #F1F7FF;
    border-radius: 20px;
    background: #F1F7FF;
    z-index: 1;
}

.business>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
}

.web-dev {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 19.25rem;
    height: 23.688rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;

}

.web-dev>img {
    margin-top: 5rem;
    background: #F1F7FF;
    border-radius: 20px;
}

.web-dev>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 250px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;

}

.web-dev>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
    width: 200px;
}

.financial {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 19.25rem;
    height: 23.688rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;
    margin-top: -2rem;
}

.financial>h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 100px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.financial>img {
    margin-top: 5rem;
    background: #F1F7FF;
    border-radius: 20px;
    background: #F1F7FF;

}

.financial>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
}

.market {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 19.25rem;
    height: 23.688rem;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    z-index: 1;

}

.market>img {
    margin-top: 5rem;
    background: #F1F7FF;
    border-radius: 20px;
}

.market>h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    width: 250px;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;

}

.market>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #757575;
    width: 200px;
}

.elipse {
    box-sizing: border-box;
    z-index: 0;
    width: 120px;
    height: 120px;
    position: absolute;
}